.latest-projects {
  font-size: clamp(20px,4.167vw,60px);
  margin-top: clamp(15px,5.833vw,84px);
  font-family: Poppins;

  .container {
    width: clamp(350px,81.25vw,1170px);
    margin: 0 auto;

    p {
      font-size: .334em;
      color: rgba(18, 18, 18, 0.60);
      margin: 0 auto;
      margin-top: 9px;
      position: relative;
      width: max-content;
    }

    p::before {
      content: '';
      position: absolute;
      top: 50%;
      left: -50%;
      display: block;
      height: 2px;
      width: 67px;
      background-color: #ff6a28;
      border-radius: 5px;
    }

    p::after {
      content: '';
      position: absolute;
      top: 50%;
      right: -50%;
      display: block;
      height: 2px;
      width: 67px;
      background-color: #ff6a28;
      border-radius: 5px;
    }
  }

  h2 {
    text-align: center;
    font-family: 'Playfair Display';
    font-size: 1em;
  }

}