.latest-projects {
  font-size: clamp(35px,4.167vw,60px);
  margin-top: clamp(15px,5.833vw,84px);
  font-family: Poppins;
  margin-bottom: 2.4em;

  .container {
    width: clamp(350px,81.25vw,1170px);
    margin: 0 auto;

    & > p {
      font-size: .334em;
      color: rgba(18, 18, 18, 0.60);
      margin: 0 auto;
      margin-top: 9px;
      position: relative;
      width: max-content;
    }

    & > p::before {
      content: '';
      position: absolute;
      top: 50%;
      left: -50%;
      display: block;
      height: 2px;
      width: 67px;
      background-color: #ff6a28;
      border-radius: 5px;
    }

    & > p::after {
      content: '';
      position: absolute;
      top: 50%;
      right: -50%;
      display: block;
      height: 2px;
      width: 67px;
      background-color: #ff6a28;
      border-radius: 5px;
    }
  }

  h2 {
    text-align: center;
    font-family: 'Playfair Display';
    font-size: 1em;
  }

}

.latest-projects__items {
  margin-top: 1.34em;
  
}

.latest-projects__items_item {
  display: flex;
  gap: 1em;
  
  
  & > div {
    width: 49%;
    // height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    overflow: hidden;

    h3 {
      font-size: .75em;
      font-weight: 600;
    }
  
    p {
      font-size: .45em;
      font-weight: 500;
      text-align: justify;
      line-height: 1.91;
      margin: 1.67em 0;
    }

    .button {
      border: none;
      background-color: #ff6a28;
      font-size: .3em;
      padding: .56em 1.47em;
      font-weight: 600;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      transition: scale .3s ease;
      width: max-content;
  
    }
  
    .button:active {
      scale: .95;
    }

    img {
      border-radius: 10.2px;
      object-fit: 100%;
      width: 100%;
      height: clamp(15px,38vw,477px);
      justify-self: flex-start;
    }
  }

}

.latest-projects__items_item:nth-child(even) {

  & > div:first-child {
    order: 2;

    .button {
      margin: 0 0 0 auto;
    }
  }
}

.latest-projects__items_item:not(:first-child) {
  margin-top: 1.7em;
}

@media (max-width: 860px) {
  .latest-projects {

    .container {
      width: 95%;

    }
  }

  .latest-projects__items {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .latest-projects__items_item {
    flex-direction: column;
    font-size: 1.4em;
    align-items: center;

    & > div {
      width: 65%;

      h3 {
        font-size: .75em;
      }

      p {
        margin: 1.4em 0;
        font-size: .4em;
      }
    }

    &:nth-child(even) {
  
      & > div:first-child {
        order: -1;
    
        .button {
          margin: 0;
        }
      }
    }
  }

}

@media (max-width: 640px) {
  // .latest-projects {

  //   .container {
  //     width: 95%;

  //   }
  // }

  .latest-projects__items {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .latest-projects__items_item {
    flex-direction: column;
    font-size: 1.4em;
    align-items: center;

    & > div {
      width: 80%;

      h3 {
        font-size: .6em;
      }

      p {
        margin: 1.4em 0;
        font-size: .3em;
      }
    }

    &:nth-child(even) {
  
      & > div:first-child {
        order: -1;
    
        .button {
          margin: 0;
        }
      }
    }
  }
}