.slider-title .cont h1 {
  color: #121212;
  font-family: "Playfair Display", sans-serif !important;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.slider-title .cont .sl-t-wf {
  display: flex;
  align-items: center;
  gap: 17px;
}
.slider-title .cont .sl-t-wf .s-t-line {
  width: 69px;
  height: 2px;
  background-color: #FF6A28;
  border-radius: 2px;
}
.slider-title .cont .sl-t-wf p {
  color: rgba(18, 18, 18, 0.6);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 175%; /* 35px */
}

.product-slider {
  margin-top: 39px;
}
.product-slider .cont ul li .product-box:hover {
  transform: scale(1.008);
  transition: all ease 0.3s;
}
.product-slider .cont ul li .product-box {
  margin-right: 34px;
  width: 325px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all ease 0.3s;
  text-decoration: none;
}
.product-slider .cont ul li .product-box .ph-place {
  width: 316px;
  height: 210.67px;
  border-radius: 8px;
  background: #C4C4C4;
}
.product-slider .cont ul li .product-box .box-text {
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.product-slider .cont ul li .product-box .box-text .box-tx {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-slider .cont ul li .product-box .box-text .box-tx h1 {
  color: #121212;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.product-slider .cont ul li .product-box .box-text .box-tx h2 {
  color: rgba(255, 106, 40, 0.7);
  text-align: right;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 175%; /* 35px */
}
.product-slider .cont ul li .product-box .box-text p {
  color: rgba(18, 18, 18, 0.83);
  text-align: justify;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 162.5%; /* 32.5px */
}

.lSPager {
  display: none;
}

.lSAction {
  display: none !important;
}

.lSAction > a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  background-image: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lSAction > a::after {
  position: absolute;
  content: "";
  margin: auto;
  border: solid #fff;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 5px;
}

.lSAction > .lSPrev::after {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.lSAction > .lSNext::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.switcher-title {
  margin-top: 100px;
  padding-top: 56px;
  background: #F8FAFB;
}
.switcher-title .cont h1 {
  color: #121212;
  font-family: "Playfair Display", sans-serif !important;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.switcher-title .cont .sl-t-wf {
  display: flex;
  align-items: center;
  gap: 17px;
}
.switcher-title .cont .sl-t-wf .s-t-line {
  width: 69px;
  height: 2px;
  background-color: #FF6A28;
  border-radius: 2px;
}
.switcher-title .cont .sl-t-wf p {
  color: rgba(18, 18, 18, 0.6);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 175%; /* 35px */
}

.switcher {
  background: #F8FAFB;
  padding: 40px 0 480px;
}
.switcher .cont {
  position: relative;
}
.switcher .cont ul {
  background-color: #F8FAFB;
}
.switcher .cont ul .slide {
  background-color: #F8FAFB;
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
  display: grid;
  grid-template-columns: 545px 1fr;
  grid-template-rows: auto;
  align-items: center;
}
.switcher .cont ul .slide .img-place {
  width: 545px;
  height: 416px;
  border-radius: 10px;
  background: #C4C4C4;
}
.switcher .cont ul .slide .text {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}
.switcher .cont ul .slide .text .tx {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.switcher .cont ul .slide .text .tx h1 {
  color: #121212;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.switcher .cont ul .slide .text .tx h2 {
  color: rgba(18, 18, 18, 0.6);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 175%; /* 35px */
}
.switcher .cont ul .slide .text p {
  margin-top: 34px;
  color: rgba(18, 18, 18, 0.83);
  text-align: justify;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 191%; /* 45.84px */
}
.switcher .cont ul .slide .text .btns {
  margin-top: 40px;
  display: flex;
  gap: 21px;
}
.switcher .cont ul .slide .text .btns button {
  width: 60px;
  height: 55px;
  border: none;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.switcher .cont ul .slide .text .btns .prev {
  background-color: #ffffff;
}
.switcher .cont ul .slide .text .btns .next {
  background-color: #FF6A28;
}
.switcher .cont ul .slide[data-active] {
  opacity: 1;
}

@media (max-width: 1150px) {
  .switcher {
    padding: 40px 0 580px;
  }
}
@media (max-width: 1040px) {
  .switcher {
    padding: 40px 0 820px;
  }
  .switcher .cont ul .slide {
    grid-template-columns: 1fr;
    grid-template-rows: 416px 1fr;
  }
  .switcher .cont ul .slide .img-place {
    width: 100%;
  }
}
@media (max-width: 985px) {
  .switcher {
    padding: 40px 0 910px;
  }
}
@media (max-width: 545px) {
  .switcher {
    padding: 40px 0 1000px;
  }
}
@media (max-width: 430px) {
  .switcher {
    padding: 40px 0 1180px;
  }
}/*# sourceMappingURL=main.css.map */